{% extends "base.html" %}

{% block title %}Laramen's pocket of the internet{% endblock %}

{% block content %}
<script>NekoType="socks"</script>
<h1 id="nl">
  <script src="https://webneko.net/n20171213.js"></script>
  <a href="https://webneko.net">Neko</a>
</h1>

<div id="container">
  <div id="headerArea">
    <div id="header"></div>
    <nav id="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="https://laramen.carrd.co/">Me!</a></li>
        <li><a href="https://lhmovcom.blogspot.com/?m=1">Movie reviews</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </nav>
  </div>

  <div id="flex">
    <aside id="leftSidebar">
      <h2 style="text-align:center;">Also find me in:</h2>
      <div class="box">
        <p>I have recently updated this tool as of August 2022!</p>
        <ul style="padding-left:10px;">
          <li>Rewrote the JS to generate cleaner code</li>
          <li>Rewrote the CSS to make it easier to edit</li>
          <li>Added a couple of new features!</li>
          <li>Old version is <a href="old.html" target="_blank">here</a></li>
        </ul>
      </div>
      <h2>Hi there!</h2>
      <img src="{% static 'Style/images/popup.jpg' %}" alt="popup">
      <img src="{% static 'Style/images/lesbian.jpg' %}" alt="lesbian flag">

      <h3>Other Tools</h3>
      <ul>
        <li><a href="https://sadgrlonline.github.io/html-cheatsheet/" target="_blank">HTML Cheatsheet</a></li>
        <li><a href="/sadgrl/webmastery/webmaster-links.html" target="_blank">Webmaster Links</a></li>
        <li><a href="/sadgrl/webmastery/downloads/tiledbgs.html" target="_blank">Tiled BGs</a></li>
        <li><a href="/sadgrl/webmastery/downloads/fonts.html" target="_blank">Fonts</a></li>
        <li><a href="/sadgrl/projects/ideas/" target="_blank">Site Ideas</a></li>
      </ul>

      <div class="bottombox">
        <p>SITE CURRENTLY UNDER CONSTRUCTION!</p>
        <img src="{% static 'Style/images/workcat.gif' %}" alt="workcat">
      </div>
    </aside>

    <main>
      <h1>LARAMEN'S POCKET OF THE INTERNET!!!!</h1>
      <p><strong>A deep dive into the rabbit hole of my mind</strong></p>
      <p>Heyyy!!!! So, I am Laramen and this is my pocket in the vast universe. I am glad you could make your way here and didn't get lost along the path! 🛸🚀</p>
      <p>This project started like everything else in life does: Taking every single side quest available but uni works that pile up more and more. Exhausting honestly 😭👌🏻😓🤫</p>
      <p>However... Allons-y, dear traveler!</p>
      <img src="{% static 'Style/images/doctoranddonna.gif' %}" alt="Doctor and Donna">

      <img src="{% static 'Style/images/divider2.gif' %}" alt="divider">
      <iframe width="315" height="321" scrolling="no" src="https://gifypet.neocities.org/pet/pet.html?name=Dess&dob=1747343330&gender=f&element=Air&pet=robot.gif&map=tree.jpg&background=pink.gif&tablecolor=%233f0561&textcolor=%23ffff00" frameborder="0"></iframe>
      <a href="https://web.archive.org/web/20210611184340/https://adeleine.neocities.org/">
        <img src="https://web.archive.org/web/20210611184340/https://adeleine.neocities.org/images/monsters/tvalbino.png" alt="monster">
      </a>
      <img src="{% static 'Style/images/divider2.gif' %}" alt="divider">

      <p>Rub my belly hiss swipe at owner's legs sniff catnip and act crazy growl at dogs in my sleep sit on the laptop...</p>
      <p>Head nudges eat my own ears. Hey! you there, with the hands why can't I catch that stupid red dot</p>

      <button popovertarget="mypopover"><img src="{% static 'Style/images/clickhere.gif' %}" alt="click here"></button>
      <div id="mypopover" popover>
        <img src="{% static 'Style/images/toocute.png' %}" alt="too cute">
      </div>
    </main>

    <aside id="rightSidebar">
      <h2>Interests</h2>
      <div class="box">
        <ul>
          <li>Rewrote the JS</li>
          <li>Rewrote the CSS</li>
          <li>Added new features!</li>
          <li>Old version is <a href="old.html" target="_blank">here</a></li>
        </ul>
      </div>

      <h2>Hi there!</h2>
      <div class="results" style="width: 200px; background-color: #fff; color: #000; padding: 10px; border: 1px solid; font-family: 'times';">
        <p>This page is protected by a</p>
        <h1>RABBIT</h1>
        <img style="max-width: 150px;" alt="RABBIT" src="https://i.ibb.co/py2t8KT/rabbit.jpg">
        <p>A female rabbit is a 'doe' and a male is a 'buck'</p>
        <small><a href="https://hekate.neocities.org">Get your own at hekate.neocities.org</a></small>
      </div>

      <h3>Other Tools</h3>
      <img src="{% static 'Style/images/bwaaah.gif' %}" alt="bwaaah">
      <ul>
        <li><a href="https://sadgrlonline.github.io/html-cheatsheet/" target="_blank">HTML Cheatsheet</a></li>
        <li><a href="/sadgrl/webmastery/webmaster-links.html" target="_blank">Webmaster Links</a></li>
        <li><a href="/sadgrl/webmastery/downloads/tiledbgs.html" target="_blank">Tiled BGs</a></li>
        <li><a href="/sadgrl/webmastery/downloads/fonts.html" target="_blank">Fonts</a></li>
        <li><a href="/sadgrl/projects/ideas/" target="_blank">Site Ideas</a></li>
      </ul>
    </aside>
  </div>

  <footer id="footer">Courtesy of L.H.'s hat, 2025</footer>
</div>
{% endblock %}
